@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

body {
  margin: 0 25%;
  background-color: #f3f7f9;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  font-weight: 300;
  margin-block-end: 0.6em;
  margin-block-start:0.6em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}


/* viewport <= 1000px */
@media screen and (max-width: 1000px) {
  * {
    font-size: 1em;
  }
}

/* viewport <= 630px */
@media screen and (max-width: 630px) {
  body {
    margin: 0 10%;
  }
  .row div {
    padding: 1.5%;
  }
}

/* viewport <= 500px */
@media screen and (max-width: 500px) {
  body {
    margin: 0 10%;
  }
  * {
    font-size: 0.9em;
  }
}
